@charset "utf-8";
/* 메인페이지 CSS - main.css */

/* 리셋,공통 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);

/* 공유기능 요소 셋팅 */
:root {
    --main-black: #0d0d0d;
}
html {
    font-size: 10px;
}

/* 상단영역 css */
    .header_wrap {position: fixed; width: 100%; height: 96px; z-index: 999;}
    .header_wrap nav {display: flex; justify-content: space-between; align-items: center;}
    .header_wrap nav .header-logo {}
    .header_wrap nav .header-logo h3 {}
    .header_wrap nav .header-logo h3 a {}
    .header_wrap .nav_ul {display: flex;justify-content: space-between; align-items: center;}
    .header_wrap .nav_ul li {}
    .header_wrap .nav_ul li button {background-color: transparent;}
    .header_wrap .nav_ul li button:hover {color: #555;cursor: pointer;}
    .header_wrap .nav_ul li .contact_btn {}
/* 상단영역 css 끝 */